<%= turbo_stream.replace dom_id(@message) do %>
  <%= render partial: 'messages/partials/list/message_item', locals: { message: @message } %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= t('messages.notice.updated') %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
